[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
wtforms = "==1.0.5"
Flask-Admin = "*"

[requires]
python_version = "3.6"
